.container {
  height: 100vh;

  .logo {
    font-size: 16px;
  }

  .landing-view {
    background-color: greenyellow;
    min-height: 480px;
    height:70%;
    width:100%;
    display: block;
    box-sizing: border-box; 

    .landing-content {
      width: 33%;
      height: 70%;
      margin: 0 auto;
      top: 15%;
      border: 1px solid red;
      position: relative;
    };
  }
}

