.modal-dialog {
  max-width: none;
}

.modal-content {
  top: 15vh;
  margin: 0 auto;
  width: 593px;
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #000000;

  .modal-header {
    justify-content: initial;
    display: initial;
    padding: 0;
    padding-left: 24px;
    border: none;
    font-weight: bold;
    .modal-title {
      font-family: 'HelveticaNeue-Medium';
      line-height: normal;
      color: #333333;
      margin-top: 20px;
      margin-bottom: 41px;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
      border: 1px solid #CED2D3;
    }
    .close {
      padding: 0;
      margin-top: 16px;
      margin-right: 15px;
      float: right;
    }
  }

  .modal-body {
    padding: 0;

    button {
      float: right;
      margin-right: 16px;
      width: 122px;
      height: 30px;
      font-family: ArialMT;
      font-size: 14px;
      color: #FFFFFF;
      background-color: #3B4546;
      border: 1px solid #979797;
      border-radius: 2px;
    }

    .modal-icon {
      margin-left: 24px;
      margin-right: 12px;
    }

    .modal-alert {
      color: #FF3434;
      font-weight: bold;
    }

    .modal-alert-text {
      font-family: HelveticaNeue;
      font-size: 16px;
      color: #000000;
      line-height: 19px;
    }

    .modal-alert-btn {
      background-color: #FF3434;
    }

    table {
      margin-left: 24px;
      border-collapse: collapse;
      border-spacing: 0;
      th{
        font-family: HelveticaNeue-Medium;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        border: 0;
        padding:0;
    
      }

      td {
        font-family: HelveticaNeue;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        border: 0;
        border-spacing: 0;
        padding: 0;
        width: 50%;
      }
    }

    .recent-activity-ctn{
      padding-bottom: 21px;

      .modal-recent-activity {
        font-family: HelveticaNeue;
        font-size: 16px;
        color: #000000;
        padding-left: 24px;
      }
    }
  }
}